templates/hl7_messages.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
  <name>hl7_messages</name>
  <snippet>
    <connections>
      <id>9f1bed4b-eaeb-3a4b-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>00ff8bf6-94d1-32f4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>b65cd006-ce5e-36b6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ab1e26e1-47fc-3332-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>51a9adae-59ec-3f30-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>00ff8bf6-94d1-32f4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>cb79f745-e46a-3d2e-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>1133.0044579126863</x>
        <y>410.5845362985833</y>
      </bends>
      <bends>
        <x>1133.0044579126863</x>
        <y>460.5845362985833</y>
      </bends>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>055fa3e1-a1bc-329c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>connection_failure</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>055fa3e1-a1bc-329c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e9ffc74f-141f-35ad-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>405be586-83f6-3bf8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>51a9adae-59ec-3f30-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>efdd182e-0cfd-369c-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>1520785b-8c92-3ebe-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>055fa3e1-a1bc-329c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>03a94e42-4b31-30e9-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>b65cd006-ce5e-36b6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>980a9b4e-fa6b-349c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0f832383-05d3-3dca-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>055fa3e1-a1bc-329c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>405be586-83f6-3bf8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3033a21d-d7db-3f4c-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>1520785b-8c92-3ebe-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>f0474d27-5447-35fe-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>40155b62-f07c-3cf0-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>1072.2988974810366</x>
        <y>25.0</y>
      </bends>
      <bends>
        <x>1072.2988974810366</x>
        <y>75.0</y>
      </bends>
      <destination>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>b65cd006-ce5e-36b6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
        <id>b65cd006-ce5e-36b6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>980a9b4e-fa6b-349c-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>32.647522664142116</x>
        <y>28.830204010009766</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>
              <name>Input Directory Location</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/hl7-messages/</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>Local</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListFile</type>
    </processors>
    <processors>
      <id>b65cd006-ce5e-36b6-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>663.2988974810366</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File to Fetch</key>
            <value>
              <name>File to Fetch</name>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <name>Completion Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <name>Move Destination Directory</name>
            </value>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>
              <name>Move Conflict Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>
              <name>Log level when file not found</name>
            </value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>
              <name>Log level when permission denied</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File to Fetch</key>
            <value>${absolute.path}/${filename}</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>Delete File</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>Rename</value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>ERROR</value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>ERROR</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchFile</type>
    </processors>
    <processors>
      <id>f0474d27-5447-35fe-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>651.674633325767</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Command</key>
            <value>
              <name>Command</name>
            </value>
          </entry>
          <entry>
            <key>Command Arguments</key>
            <value>
              <name>Command Arguments</name>
            </value>
          </entry>
          <entry>
            <key>Batch Duration</key>
            <value>
              <name>Batch Duration</name>
            </value>
          </entry>
          <entry>
            <key>Redirect Error Stream</key>
            <value>
              <name>Redirect Error Stream</name>
            </value>
          </entry>
          <entry>
            <key>Argument Delimiter</key>
            <value>
              <name>Argument Delimiter</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Command</key>
            <value>/usr/lib/jvm/jre-1.8.0/bin/java</value>
          </entry>
          <entry>
            <key>Command Arguments</key>
            <value> -cp /var/ftp/pub/hl7-generator-1.0-SNAPSHOT-shaded.jar com.hortonworks.example.Main 10 /tmp/hl7-messages</value>
          </entry>
          <entry>
            <key>Batch Duration</key>
          </entry>
          <entry>
            <key>Redirect Error Stream</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Argument Delimiter</key>
            <value> </value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteProcess</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
    </processors>
    <processors>
      <id>00ff8bf6-94d1-32f4-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>740.2138602495913</x>
        <y>176.28684997558594</y>
      </position>
      <bundle>
        <artifact>nifi-hl7-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Character Encoding</key>
            <value>
              <name>Character Encoding</name>
            </value>
          </entry>
          <entry>
            <key>use-segment-names</key>
            <value>
              <name>use-segment-names</name>
            </value>
          </entry>
          <entry>
            <key>parse-segment-fields</key>
            <value>
              <name>parse-segment-fields</name>
            </value>
          </entry>
          <entry>
            <key>skip-validation</key>
            <value>
              <name>skip-validation</name>
            </value>
          </entry>
          <entry>
            <key>hl7-input-version</key>
            <value>
              <name>hl7-input-version</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Character Encoding</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>use-segment-names</key>
            <value>false</value>
          </entry>
          <entry>
            <key>parse-segment-fields</key>
            <value>false</value>
          </entry>
          <entry>
            <key>skip-validation</key>
            <value>true</value>
          </entry>
          <entry>
            <key>hl7-input-version</key>
            <value>autodetect</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractHL7Attributes</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hl7.ExtractHL7Attributes</type>
    </processors>
    <processors>
      <id>055fa3e1-a1bc-329c-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>724.0044579126863</x>
        <y>385.5845362985833</y>
      </position>
      <bundle>
        <artifact>nifi-solr-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Solr Type</key>
            <value>
              <name>Solr Type</name>
            </value>
          </entry>
          <entry>
            <key>Solr Location</key>
            <value>
              <name>Solr Location</name>
            </value>
          </entry>
          <entry>
            <key>Collection</key>
            <value>
              <name>Collection</name>
            </value>
          </entry>
          <entry>
            <key>Content Stream Path</key>
            <value>
              <name>Content Stream Path</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Commit Within</key>
            <value>
              <name>Commit Within</name>
            </value>
          </entry>
          <entry>
            <key>JAAS Client App Name</key>
            <value>
              <name>JAAS Client App Name</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Solr Socket Timeout</key>
            <value>
              <name>Solr Socket Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Solr Connection Timeout</key>
            <value>
              <name>Solr Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Solr Maximum Connections</key>
            <value>
              <name>Solr Maximum Connections</name>
            </value>
          </entry>
          <entry>
            <key>Solr Maximum Connections Per Host</key>
            <value>
              <name>Solr Maximum Connections Per Host</name>
            </value>
          </entry>
          <entry>
            <key>ZooKeeper Client Timeout</key>
            <value>
              <name>ZooKeeper Client Timeout</name>
            </value>
          </entry>
          <entry>
            <key>ZooKeeper Connection Timeout</key>
            <value>
              <name>ZooKeeper Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>f.1</key>
            <value>
              <name>f.1</name>
            </value>
          </entry>
          <entry>
            <key>f.2</key>
            <value>
              <name>f.2</name>
            </value>
          </entry>
          <entry>
            <key>f.4</key>
            <value>
              <name>f.4</name>
            </value>
          </entry>
          <entry>
            <key>f.7</key>
            <value>
              <name>f.7</name>
            </value>
          </entry>
          <entry>
            <key>split</key>
            <value>
              <name>split</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Solr Type</key>
            <value>Cloud</value>
          </entry>
          <entry>
            <key>Solr Location</key>
            <value>localhost:2181</value>
          </entry>
          <entry>
            <key>Collection</key>
            <value>hl7_messages</value>
          </entry>
          <entry>
            <key>Content Stream Path</key>
            <value>/update/json/docs</value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>application/json</value>
          </entry>
          <entry>
            <key>Commit Within</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>JAAS Client App Name</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Solr Socket Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>Solr Connection Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>Solr Maximum Connections</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Solr Maximum Connections Per Host</key>
            <value>5</value>
          </entry>
          <entry>
            <key>ZooKeeper Client Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>ZooKeeper Connection Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>f.1</key>
            <value>patient_s:/patient</value>
          </entry>
          <entry>
            <key>f.2</key>
            <value>visit_date_dt:/myDate</value>
          </entry>
          <entry>
            <key>f.4</key>
            <value>note_txt:/text</value>
          </entry>
          <entry>
            <key>f.7</key>
            <value>insert_date_dt:/file.creationTime</value>
          </entry>
          <entry>
            <key>split</key>
            <value>/</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutSolrContentStream</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>connection_failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.solr.PutSolrContentStream</type>
    </processors>
    <processors>
      <id>1520785b-8c92-3ebe-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>683.1616904497866</x>
        <y>633.4936218261719</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LogAttribute</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <processors>
      <id>405be586-83f6-3bf8-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>3.0642611351107405</x>
        <y>460.78494299010845</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AttributesToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
    <processors>
      <id>51a9adae-59ec-3f30-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>40.35415640691994</x>
        <y>233.15644710898164</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>myDate</key>
            <value>
              <name>myDate</name>
            </value>
          </entry>
          <entry>
            <key>patient</key>
            <value>
              <name>patient</name>
            </value>
          </entry>
          <entry>
            <key>text</key>
            <value>
              <name>text</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>myDate</key>
            <value>${TXA.4:toDate("yyyyMMddHHmmss"):format("yyyy-MM-dd HH:mm:ss")}</value>
          </entry>
          <entry>
            <key>patient</key>
            <value>${PID.5:replaceAll('\^', ' ')}</value>
          </entry>
          <entry>
            <key>text</key>
            <value>${OBX_1.5:replaceAll('(~|\^)', ' ')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
  </snippet>
  <timestamp>08/22/2017 21:03:32 UTC</timestamp>
</template>